*~
dsm_logo.png
pconvert-dm.php
sessions/
frame2.html
.DS_Store
[0-9]*.[0-9]*.[0-9]*.[0-9]*
[0-9]*.[0-9]*.[0-9]*.[0-9]*_
[0-9]*.[0-9]*.[0-9]*.[0-9]*_[0-9]*
matchcards.php
sessions/courts/[0-9]
tombola.php
old_players/*
d.apk
p.apk
img/Mega+Mushroom+2.jpg
img/full.png
img/retro_coin.png
img/retro_mushroom_super_3.png
img/sponsors/schriftzugVember.png
index.php_bak
players/*.txt
settings.php
.idea
players/zz.txt
info-draw/cache
tmp
img/sponsors/*
img/background.jpg
.htaccess
meteor
settings.php
getPlayers2.php
